/**
 * This SCSS file is for creating the overall look for a standard blog post used
 * throughout the entire Protfolio Site - Desktop.
 *
 * @author Kerick Howlett
 **/

.post-header {
	display: table;
	height: 25em;
	overflow: hidden;
	position: relative;
		left: -1em;
	width: calc( 100% + 1.5em );
	h1 {
		color: $white;
		display: table-cell;
		font-size: 8vw;
		text-align: center;
		vertical-align: middle;
	}
}
