/**
 * This SCSS file is for creating the overall look for the breadcrumb section of
 * any given page throughout the entire Protfolio Site - Desktop & Tablet.
 *
 * @author Kerick Howlett
 **/

.breadcrumb {
	background: $gray;
	color: $even-darker-gray;
	display: inline-block;
	line-height: 3em;
	padding-left: 7%;
	width: 100%;
	span {
		display: table-cell;
		font-size: 1.1em;
		text-transform: capitalize;
		vertical-align: middle;
		a {
			color: $even-darker-gray;
			@include transition( 0.2s all ease-in-out );
			&:hover {
				color: $white;
			}
		}
	}
	.slash {
		font-size: 1.75em;
		padding: 0 0.75em;
	}
}

.no_capitalize a {
	text-transform: none;
}

@media screen and ( max-width: 767px ) {
	.breadcrumb {
		display: none;
	}
}
