/**
 * This SCSS file is to establish the general styling rules for the entire
 * Portfolio Site.
 *
 * @author Kerick Howlett
 **/

* {
	font: 100% $roboto;
}

h1,
h2,
h3,
h4,
h5 {
	font: 100% $roboto_thin;
}

a,
.button {
	font: 100% $roboto_medium;
}
