/**
 * This SCSS file is to establish the general styling rules for the entire
 * Portfolio Site.
 *
 * @author Kerick Howlett
 **/

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	display: inline-flex;
	@media screen and ( max-width: 1024px ) {
		display: block;
	}
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	width: 100%;
}

p,
label,
input,
span {
	font: 100% $roboto;
}

.other-page {
	p {
		line-height: 2.85em;
		text-align: justify;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font: 100% $roboto_thin;
}

a,
.button {
	font: 100% $roboto_medium;
	text-decoration: none;
	color: $white;
}
