/**
 * This SCSS file is to establish the styling rules for the side navigation menu.
 *
 * @author Kerick Howlett
 **/

.sidenav {
	background: $blue;
	color: $white;
	height: 100%;
	position: absolute;
	top: 0;
	transform:  skewX( -5deg ) translateX( -50px );
	// transition: 2s all ease-in-out;
	// -webkit-transition: 2s all ease-in-out;
	width: 20%;
	.nav_links {
		display: block;
		height: auto;
		margin: 20% auto auto auto;
		transform:  skewX( 5deg ) translateX( 50px );
		width: 100%;
		ul {
			list-style-type: none;
			.social_media_links {
				a {
					display: inline-block;
					.github-logo,
					.linkedin-logo {
						height: auto;
						width: 10%;
					}
				}
			}
		}
	}
}
