/**
 * This is the Primary SCSS file that compiles all the other child SCSS files
 * and SCSS variables to control the overall appearance of the Portfolio Site.
 *
 * @author: Kerick Howlett
 **/

/* Default Color Variables */

$black:             #000000 !default;
$blue:		        #70a3f4 !default;
$gray:              #CCCCCC !default;
$white:             #FFFFFF !default;
$spring-green:      #20C4BE !default;
$lime-green:        #E4FBA5 !default;
$cucumber:          #8FBE34 !default;


/* Establishing Typography & Mixins Variables */
@import 'typography';
@import 'mixins';

/* List of all Child SCSS files to import into master Style Sheet. */
@import 'about';
@import 'blog';
@import 'connect';
@import 'general';
@import 'homepage';
@import 'pageTransition';
@import 'projects';
@import 'sidenav';
@import 'titleAnimation';
