/**
 * This is the Primary SCSS file that compiles all the other child SCSS files
 * and SCSS variables to control the overall appearance of the Portfolio Site.
 *
 * @author: Kerick Howlett
 **/

/* Default Color Variables */

$black:             #000000 !default;
$blue:              #70A3F4 !default;
$dark-gray:         #A8A8A8 !default;
$even-darker-gray:  #555555 !default;
$gray:              #CCCCCC !default;
$light-gray:        #F4F4F4 !default;
$lime-green:        #E4FBA5 !default;
$white:             #FFFFFF !default;

/* Establishing Typography & Mixins Variables */
@import 'typography';
@import 'mixins';

/* List of all Child SCSS files to import into master Style Sheet. */
@import 'blog';
@import 'breadcrumbs';
@import 'connect';
@import 'images';
@import 'general';
@import 'homepage';
@import 'postIndex';
@import 'recent';
@import 'related';
@import 'sidebar';
@import 'sidenav';
@import 'technologies';
@import 'titleAnimation';
