/**
 * This SCSS file is for creating the overall look for a standard blog post used
 * throughout the entire Protfolio Site - Desktop & Tablet.
 *
 * @author Kerick Howlett
 **/

.post {
	&-header {
		display: table;
		height: 25em;
		overflow: hidden;
		position: relative;
			left: -1em;
		width: calc( 100% + 1.5em );
		h1 {
			color: $white;
			display: table-cell;
			font-size: 8vw;
			text-align: center;
			vertical-align: middle;
		}
	}
	&-content {
		display: flex;
		margin: 3em 0 0 5em;
		&_body {
			align-self: flex-start;
			display: inline-block;
			padding-left: 2em;
			padding-right: 1em;
			width: 65%;
		}
	}
}

.post-meta {
	font: 100% $roboto;
	.post-author {
		display: none;
	}
}

.post-content {
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: $blue;
	}
	h1 {
		font-size: 5em;
	}
	h2 {
		font-size: 4em;
	}
	h3 {
		font-size: 3em;
	}
	h4 {
		font-size: 2em;
	}
	h5 {
		font-size: 1.5em;
	}
	hr {
		background: $light-gray;
		color: $light-gray;
	}

}
