/**
 * This is the style rules for the post header.
 **/

.post-header {
	background: url( '/library/posts/default/feature_image.jpg' ) top right no-repeat fixed;
	background-size: cover;
	background-position-y: -29px;
}
