<aside class='sidenav'>
	<div class="site_logo">

	</div>
	<div class="nav_links">
		<ul>
			<li id='about_link' class='about_link'>
				<a href='#'>
					About
				</a>
			</li>
			<li id='projects_link' class='projects_link'>
				<a href='#'>
					Projects
				</a>
			</li>
			<li id='blog_link' class='blog_link'>
				<a href='#'>
					Blog
				</a>
			</li>
			<li id='connect_link' class='connect_link'>
				<a href='#'>
					Connect
				</a>
			</li>
			<li id='github_link' class='github_link'>
				{% include icon-github.html %}
			</li>
			<li id='linkedin_link' class='linkedin_link'>
				{% include icon-linkedin.html %}
			</li>
		</ul>
	</div>
</aside>
