<aside class='sidenav'>
	<div class="site_logo">

	</div>
	<div class="nav_links">
		<ul>
			<li class='about_link'>
				<a href='#'>
					About
				</a>
			</li>
			<li class='projects_link'>
				<a href='#'>
					Projects
				</a>
			</li>
			<li class='blog_link'>
				<a href='#'>
					Blog
				</a>
			</li>
			<li class='connect_link'>
				<a href='#'>
					Connect
				</a>
			</li>
			<li class='github_link'>
				{% include icon-github.html %}
			</li>
			<li class='linkedin_link'>
				{% include icon-linkedin.html %}
			</li>
		</ul>
	</div>
</aside>
