<aside class='sidenav'>
	<div class="site_logo">

	</div>
	<div class="nav_links">
		<!-- <ul>
			<li class='about_link'>About</li>
			<li class='projects_link'>Projects</li>
			<li class='blog_link'>Blog</li>
			<li class='github_link'>
				<img src={{ '/library/images/svg/GitHub/GitHub-Mark-64px.svg' | prepend: site.baseurl }} alt='GitHub Logo'/>
			</li>
			<li class='linkedin_link'>
				<img src={{ '/library/images/svg/LinkedIn/LinkedIn.svg' | prepend: site.baseurl }} alt='LinkedIn Logo'/>
			</li>
		</ul> -->
	</div>
</aside>
