/**
 * This SCSS file is to establish the styling rules for the side navigation menu.
 * Desktop.
 *
 * @author Kerick Howlett
 **/

.sidenav {
	background: $blue;
	@include box-shadow( 9px 5px 14px 1px rgba( 0, 0, 0, 0.42 ) );
	color: $white;
	display: inline-table;
	height: 100%;
	min-width: 18em;
	@include transform( skewX( -5deg ) translateX( -50px ) );
	width: 23%;
}

.menu-icon {
	display: none;
}

.nav_links {
	display: block;
	height: auto;
	margin: 0.75em;
	@include transform( skewX( 5deg ) translateX( 50px ) );
	ul {
		display: table;
		list-style: none;
		padding: 0;
		text-align: left;
		li {
			display: table-row;
			font: 100% $roboto_medium;
			font-size: 2.5vw;
			&:hover {
				a {
					color: $lime-green;
					margin-left: 0.5em;
					span {
						svg {
							path {
								fill: $lime-green;
								stroke: $lime-green;
							}
						}
					}
				}
			}
			a {
				@include transition( 0.2s all ease-in-out );
			}
		}
	}
}

.github_link,
.linkedin_link {
	display: inline-table;
	white-space: nowrap;
	&:hover {
		a {
			margin-left: 0.5em;
		}
	}
	a {
		display: inline-block;
		margin-left: -0.1em;
		span {
			display: inline-block;
			&:nth-child(2) {
				vertical-align: middle;
			}
		}
	}
}

.github-logo,
.linkedin-logo {
	width: 3.75vw;
	svg {
		display: inline-block;
		@include transition( 0.2s all ease-in-out );
		vertical-align: middle;
		path {
			fill: $white;
			stroke: $white;
		}
	}
}

.page-content {
	display: inline-flex;
	height: 100%;
	@include transform( skewX( -5deg ) translateX( -50px ) );
	width: 73%;
}

.inner-scroll {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	@include transform( skewX( 5deg ) translateX( 50px ) );
	width: 105.5%;
}

.wrapper {
	margin: 0 auto;
	width: 95%;
}
