/**
 * This SCSS file is to establish the styling rules for the side navigation menu.
 * Desktop.
 *
 * @author Kerick Howlett
 **/

.sidenav {
	background: $blue;
	@include box-shadow( 9px 5px 14px 1px rgba( 0, 0, 0, 0.42 ) );
	color: $white;
	display: inline-table;
	height: 100%;
	position: fixed;
		left: 0;
	@include transform( skewX( -5deg ) translateX( -50px ) );
	width: 24%;
	z-index: 100;
}

.menu-icon {
	display: none;
}

.nav_links {
	display: block;
	height: auto;
	margin: 7%;
	@include transform( skewX( 5deg ) translateX( 50px ) );
	ul {
		display: table;
		list-style: none;
		padding: 0;
		text-align: left;
		li {
			display: table-row;
			font: 100% $roboto_medium;
			font-size: 2.5vw;
			line-height: 2em;
			&:hover {
				a {
					color: $lime-green;
					margin-left: 0.5em;
					span {
						svg {
							path {
								fill: $lime-green;
								stroke: $lime-green;
							}
						}
					}
				}
			}
			a {
				@include transition( 0.2s all ease-in-out );
			}
		}
	}
}

.social_media_links_nav {
	display: none;
	.github_link,
	.linkedin_link {
		display: none;
	}
}

.social_media_links {
	display: inline-block;
	position: absolute;
		bottom: 5%;
		left: 15%;
	@include transform( skewX( 5deg ) translateX( 50px ) );
}

.github_link,
.linkedin_link {
	display: inline-block;
	a {
		display: inline-block;
		span {
			display: inline-block;
		}
	}
	&:hover {
		svg {
			path {
				fill: $lime-green;
				stroke: $lime-green;
			}
		}
	}
}

.github-logo,
.linkedin-logo {
	width: 2.75em;
	svg {
		path {
			fill: $white;
			stroke: $white;
			@include transition( 0.2s all ease-in-out );
		}
	}
}

.linkedin-logo {
	margin-left: 1vw;
}

.page-content {
	display: block;
	height: 100%;
	padding-left: 19%;
	width: 100%;
}

.wrapper {
	height: 100%;
	margin: 0 auto;
	width: 100%;
}
