/**
 * This SCSS file is to establish the styling rules for the side navigation menu.
 * Desktop.
 *
 * @author Kerick Howlett
 **/

.sidenav {
	background: $blue;
	-webkit-box-shadow: 9px 5px 14px 1px rgba( 0, 0, 0, 0.42 );
	-moz-box-shadow: 9px 5px 14px 1px rgba( 0, 0, 0, 0.42 );
	box-shadow: 9px 5px 14px 1px rgba( 0, 0, 0, 0.42 );
	color: $white;
	display: block;
	height: 100%;
	min-width: 18em;
	position: absolute;
	top: 0;
	@include transform( skewX( -5deg ) translateX( -50px ) );
	width: 18%;
}

.menu-icon {
	display: none;
}

.nav_links {
	display: block;
	height: auto;
	margin-top: 20%;
	@include transform( skewX( 5deg ) translateX( 50px ) );
	ul {
		box-sizing: border-box;
		display: inline-block;
		list-style: none;
		padding: 0;
		text-align: left;
		li {
			display: table;
			font: 100% $roboto_medium;
			font-size: 2.5em;
			padding: 0.1em 0em;
			&:hover {
				a {
					color: $lime-green;
					@media screen and ( min-width: 1821px ) {
						font-size: 1.2em;
					}
					@media screen and ( min-width: 1613px ) {
						font-size: 1em;
					}
					margin-left: 0.5em;
					span {
						&:nth-child(1) {
							width: 37%;
							@media screen and ( min-width: 1613px ) {
								font-size: 41%;
							}
						}
						svg {
							path {
								fill: $lime-green;
								stroke: $lime-green;
							}
						}
					}
				}
			}
			a {
				@include transition( 0.2s all ease-in-out );
			}
		}
	}
}

.linkedin_link:hover a {
	margin-left: 0.1em !important;
}

.github_link,
.linkedin_link {
	white-space: nowrap;
	a {
		span {
			display: inline-block;
			vertical-align: middle;
			&:nth-child(1) {
				margin-left: -0.2em;
				width: 36%;
			}
			&:nth-child(2) {
				padding-top: 5px;
			}
		}
	}
}

.github-logo,
.linkedin-logo {
	svg {
		display: inline-block;
		height: auto;
		vertical-align: middle;
		path {
			fill: $white;
			stroke: $white;
		}
	}
}

.unselected_link a {
	font-size: .8em;
	span {
		width: 35% !important;
	}
}
