/**
 * This SCSS file is to establish the styling rules for the side navigation menu.
 * Mobile.
 *
 * @author Kerick Howlett
 **/

.sidenav {
	background: $blue;
	color: $white;
	display: inline-block;
	height: 4.5em;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.menu-icon {
	cursor: pointer;
	height: 45px;
	margin: 15px auto auto 25px;
	position: relative;
	@include transform( rotate( 0deg ) );
	@include transition( .5s ease-in-out );
	width: 60px;
	span {
		background: $white;
		border-radius: 9px;
		display: block;
		height: 6px;
		left: 0;
		opacity: 1;
		position: absolute;
		@include transform( rotate( 0deg ) );
		@include transition( .25s ease-in-out );
		width: 90%;
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2),
		&:nth-child(3) {
			top: 18px;
		}
		&:nth-child(4) {
			top: 36px;
		}
	}
}

.clicked-icon {
	span {
		&:nth-child(1) {
			left: 50%;
			top: 18px;
			width: 0%;
		}
		&:nth-child(2) {
			@include transform( rotate( 45deg ) );
		}
		&:nth-child(3) {
			@include transform( rotate( -45deg ) );
		}
		&:nth-child(4) {
			left: 50%;
			top: 18px;
			width: 0%;
		}
	}
}

.nav_links {
	background: rgba( 112, 163, 244, 0.8 );
	display: none;
	@include transition( all .25s ease );
	width: 100%;
	ul {
		box-sizing: border-box;
		display: table;
		list-style: none;
		padding: 0;
		width: 100%;
		li {
			display: inline-table;
			font: 100% $roboto_medium;
			font-size: 2.5em;
			margin-top: 0.5em;
			padding: 0.1em 0em;
			text-align: center;
			width: inherit;
			a {
				display: table;
				margin: 0 auto;
				span {
					svg {
						margin: 0 0 -3% 0;
						width: 13%;
						path {
							fill: $white;
							stroke: $white;
						}
					}
				}
			}
		}
	}
}

.show_links {
	display: table;
}
