<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	{% if page.title %}
		{% capture page_title %}{{page.title}} | Kerick Howlett{% endcapture %}
	{% else %}
		{% capture page_title %}{{site.title}}{% endcapture %}
	{% endif %}
	<title>{{page_title}}</title>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	<link rel='stylesheet' href={{ '/library/dist/portfolio.app.min.css' | prepend: site.baseurl }}>
	<link rel='stylesheet' href={{ '/library/highlight/styles/atom-one-dark.css' | prepend: site.baseurl }}>
	{% if page.feature_image %}
		<link rel='stylesheet' href="{{site.baseurl}}/library/images/headers/{{page.feature_image}}/feature_image.css">
	{% else %}
		<link rel='stylesheet' href="{{site.baseurl}}/library/images/headers/default/feature_image.css">
	{% endif %}
	<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#FFFFFF">
	<script type='text/javascript' src={{ '/library/jquery/dist/jquery.min.js' | prepend: site.baseurl }}></script>
	<script type='text/javascript' src={{ '/library/jquery-validation/dist/jquery.validate.min.js' | prepend: site.baseurl }}></script>
	<script type='text/javascript' src={{ '/library/highlight/highlight.pack.js' | prepend: site.baseurl }}></script>
	<script type='text/javascript' src={{ '/library/dist/script.min.js' | prepend: site.baseurl }}></script>
</head>
