<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	{% if page.title %}
		{% capture page_title %}{{page.title}} | Kerick Howlett{% endcapture %}
	{% else %}
		{% capture page_title %}{{site.title}}{% endcapture %}
	{% endif %}
	<title>{{page_title}}</title>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	<link rel='stylesheet' href={{ '/library/dist/portfolio.app.min.css' | prepend: site.baseurl }}>
	<link rel='stylesheet' href={{ '/library/highlight/styles/atom-one-dark.css' | prepend: site.baseurl }}>
	{% if page.feature_image %}
		<link rel='stylesheet' href="{{site.baseurl}}/library/images/headers/{{page.feature_image}}/feature_image.css">
	{% else %}
		<link rel='stylesheet' href="{{site.baseurl}}/library/images/headers/default/feature_image.css">
	{% endif %}
	<script type='text/javascript' src={{ '/library/jquery/dist/jquery.min.js' | prepend: site.baseurl }}></script>
	<script type='text/javascript' src={{ '/library/highlight/highlight.pack.js' | prepend: site.baseurl }}></script>
	<script type='text/javascript' src={{ '/library/dist/script.min.js' | prepend: site.baseurl }}></script>
</head>
