<aside class="sidebar">
	<h3 class="sidebar__header">Kerick Howlett</h3>
	<span class="divider"></span>
	<div class="cta_wrapper">
		<img src={{ '/library/images/portfolio1.jpg' | prepend: site.baseurl }} alt="Kerick Howlett" class="portfolio"/>
		{% include partials/cta.html %}
	</div>
	{% if page.technologies %}
		<h3 class="sidebar__header">Related Technologies</h3>
		<span class="divider"></span>
		<div class="technologies">
			{% for technology in page.technologies %}
				<div class="technologies__row">
					<a href="{{technology.link}}" target="_blank">
						<div class="technologies__row__logo">
							<img src="{{site.baseurl}}/library/images/technologies/{{technology.image}}" alt="{{technology.name}}"/>
						</div>
						<div class="technologies__row__title">
							<span>{{technology.name}}</span>
						</div>
					</a>
				</div>
				<span class="technologies__divider"></span>
			{% endfor %}
		</div>
	{% endif %}
	{% if page.related_links %}
		<h3 class="sidebar__header">Related Links</h3>
		<span class="divider"></span>
		<div class="related_links">
			<ul>
				{% for link in page.related_links %}
					<li>
						<span>
							<a href="{{link.href}}">{{link.title}}</a>
						</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<h3 class="sidebar__header">Recent Projects</h3>
	<span class="divider"></span>
	<div class="recent_projects">
		<ul>
			{% for post in site.projects reversed sort: 'date' limit: 4 %}
				<li>
					<a href="{{post.url}}">
						<span class="recent_title">{{post.title}}</span>
						<span class="recent_date">{{ post.date | date: "%A, %B %-d, %Y" }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<h3 class="sidebar__header">Recent Posts</h3>
	<span class="divider"></span>
	<div class="recent_posts">
		<ul>
			{% for post in site.posts reversed sort: 'date' limit: 4 %}
				<li>
					<a href="{{post.url}}">
						<span class="recent_title">{{post.title}}</span>
						<span class="recent_date">{{ post.date | date: "%A, %B %-d, %Y" }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</aside>
