<nav class='sidenav'>
	<div class="menu-icon">
		<a href="#">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
	{% include partials/title.html %}
	<div class="nav_links" role="menu">
		<ul>
			<li class='about_link'>
				<a href='#'>
					About
				</a>
			</li>
			<li class='projects_link'>
				<a href='#'>
					Projects
				</a>
			</li>
			<li class='blog_link'>
				<a href='/test'>
					Blog
				</a>
			</li>
			<li class='connect_link'>
				<a href='#'>
					Connect
				</a>
			</li>
			<li class='github_link'>
				{% include partials/icon-github.html %}
			</li>
			<li class='linkedin_link'>
				{% include partials/icon-linkedin.html %}
			</li>
		</ul>
	</div>
</nav>
