<div class="title__sequence">
	<a href="/" class="block__initials">
		<section class="initial">
			<div class="name--first">
				<h1 id="first">
					<span>c</span>
					<span>i</span>
					<span>r</span>
					<span>e</span>
					<span>k</span>
					<span>k</span>
				</h1>
			</div>
			<div class="name--last">
				<h1 id="last">
					<span>h</span>
					<span>o</span>
					<span>w</span>
					<span>l</span>
					<span>e</span>
					<span>t</span>
					<span>t</span>
				</h1>
			</div>
		</section>
	</a>
</div>
