/**
 * This SCSS file is to establish the styling rules for the Home Page - Mobile.
 *
 * @author Kerick Howlett
 **/
.home_page {
	background: url( '/library/images/bw-social-profile-1200.jpg' ) center center no-repeat fixed;
	background-size: cover;
}

.cta {
	display: block;
	padding: 1em;
}
