/**
 * This SCSS file is to establish the styling rules for the Home Page - Mobile.
 *
 * @author Kerick Howlett
 **/
 .home_page {
 	background: url( '/library/images/bw-social-profile-1200.jpg' ) center center no-repeat fixed;
	background-position-y: 40px;
 	background-size: cover;
 	overflow: hidden;
 	.inner-scroll {
 		overflow: hidden;
 	}
 }

.wrapper {
 	display: block;
 	height: 100%;
 	width: 100%;
 }

.cta--wrapper {
	display: table;
 	height: 91%;
 	margin: 0 auto;
 	width: 95%;
}

.cta {
	color: $white;
	display: table-cell;
	font-size: 2.4em;
	@media screen and ( max-width: 665px ) {
		font-size: 2.2em;
	}
	text-align: center;
	text-shadow: 2px 2px 2px rgba( 0, 0, 0, 1 );
	vertical-align: bottom;
	p {
		margin-bottom: .4em;
		span {
			white-space: nowrap;
		}
	}
	a {
		color: $lime-green;
		@include transition( 0.2s all ease-in-out );
		white-space: nowrap;
		&:hover {
			color: $blue;
		}
	}
}
