/**
 * This SCSS file is to establish the styling rules for the contact/connect form
 * Desktop.
 *
 * @author Kerick Howlett
 **/

.connect {
	&-header {
		background: url( '/library/images/headers/mail.jpg' ) top right no-repeat fixed;
		background-size: cover;
		background-position-y: -20em;
		display: table;
		height: 25em;
		overflow: hidden;
		position: relative;
			left: -1em;
		width: calc( 100% + 1.5em );
		h1 {
			color: $white;
			display: table-cell;
			font-size: 8vw;
			text-align: center;
			vertical-align: middle;
		}
	}
	&__body {
		display: flex;
		padding: 1.5em;
		margin: 1.5em 0 3em 5%;
		&__cta {
			align-items: flex-start;
			width: 40%;
			img {
				height: auto;
				width: 100%;
			}
		}
		&__form {
			align-items: flex-end;
			margin-right: 2em;
			width: 60%;
		}
	}
}

.connect__message {
	display: hidden;
}

.form {
	display: block;
	width: 100%;
	&__block {
		display: block;
		padding: 1em;
		width: 100%;
		&__email {
			display: none;
		}
	}
}
