/**
 * This SCSS file is to establish the styling rules for the contact/connect form
 * Mobile.
 *
 * @author Kerick Howlett
 **/

.connect {
	&-header {
		background: url( '/library/images/headers/mail.jpg' ) top right no-repeat fixed;
		background-size: cover;
		background-position-y: -20em;
		display: table;
		height: 25em;
		overflow: hidden;
		position: relative;
			left: -1em;
		width: calc( 100% + 1.5em );
		h1 {
			color: $white;
			display: table-cell;
			font-size: 8vw;
			text-align: center;
			vertical-align: middle;
		}
	}
	&__body {
		display: block;
		padding: 1.5em;
		margin: 1.5em 0 3em;
		&__cta {
			display: block;
			width: 100%;
			img {
				height: auto;
				width: 100%;
			}
		}
		&__form {
			display: block;
			margin-top: 2em;
			width: 100%;
		}
	}
}

.form {
	display: block;
	width: 100%;
	&__block {
		display: block;
		padding: 1.5em 0;
		position: relative;
		width: 99%;
		&:last-child {
			padding-top: 1.5em;
			input {
				margin-top: 0;
			}
		}
	}
}

.message_block {
	padding-top: 2em;
}

.form__block__email {
	display: none;
}

.form_label,
.form_label_textarea {
	color: $blue;
	font-size: 1.2em;
	opacity: 0.75;
	position: absolute;
		left: 0.2em;
		top: 32%;
	@include transition( 0.2s all ease-in-out );
}

.form_label_textarea {
	left: 0.2em;
	top: 14%;
}

.form_input,
.form_textarea {
	background: none;
	border: none;
	border-bottom: 2px solid $gray;
	color: $blue;
	font-size: 1.2em;
	line-height: 1.4em;
	margin-top: 0.15em;
	padding: 0.2em;
	@include transition( 0.2s all ease-in-out );
	width: 100%;
	&:focus {
		border-bottom: 2px solid $blue;
		outline: none;
	}
}

.form_input {
	padding-bottom: 0.5em;
}

.form_textarea {
	height: 8em;
	margin-top: 0.45em;
	padding-left: 0.3em;
}

.selected_input {
	font-size: 1em;
	left: 0;
	opacity: 1;
	top: 0;
	&:last-child {
		top: -0.2em;
	}
}

#submit {
	cursor: pointer;
	font-size: 2em;
	padding: 0.5em 2em;
	width: 100%;
}

.missing_field {
	label {
		color: $red;
	}
	input,
	textarea {
		border-bottom: 2px solid $red;
		&:focus {
			border-bottom: 2px solid $red;
		}
	}
	span {
		color: $red;
		font-size: 0.85em;
		position: relative;
			top: 0.5em;
	}
}

.connect_confirmation {
	color: $blue;
	font-size: 8vw;
	padding-top: 0.5em;
	margin: auto;
	text-align: center;
	h3 {
		line-height: 1.5em;
		margin: 0;
	}
}

/* Style for LastPass Insert */
#__lpform_name {
	display: none;
}
