/**
 * This SCSS file is to establish the styling rules for images used throughout
 * the entire site - Mobile.
 *
 * @author Kerick Howlett
 **/

img {
	display: block;
	height: auto;
	margin: auto;
	max-width: 100%;
	vertical-align: middle;
}

[class*='float'],
.image-center {
	display: inline-block;
	margin: 1em auto;
	text-align: center;
	width: 100%;
	a {

		span {
			color: $dark-gray;
			display: inline-block;
			font-size: 0.85em;
			font-style: italic;
			margin: 1em auto;
			text-align: left;
		}
	}
}
