/**
 * This SCSS file is to establish the styling rules for the Title Sequence embedded
 * in the sidenav. - Desktop.
 *
 * @author Jef DeWitt & Kerick Howlett
 **/

.title__sequence {
	height: 18%;
	margin: 10% 0 18% -16.5%;
	@media screen and ( min-width: 1025px ) and ( max-width: 1400px ) {
		margin-left: -20%;
	}
	position: relative;
	@include transform( skewX( 5deg ) translateX( 50px ) );
	width: 100%;
}

.block__initials {
	display: table;
	height: 100%;
	padding-top: 50%;
	position: relative;
	width: 100%;
	h1 {
		color: $white;
		font-family: $roboto_medium;
		font-size: 5vw;
		text-shadow: 1px 1px 1px $black;
		text-transform: uppercase;
	}
	&:before {
		animation: 0s rise forwards linear;
		// animation: 3s rise forwards linear, 2s shrinkDown 4.5s forwards ease;
		background: url( '../images/diamond.svg' );
		background-repeat: no-repeat;
		content: '';
		display: inline-block;
		height: 9vw;
		position: absolute;
			left: 48.5%;
			top: 50%;
		@include transform( translate( -50%, -50% ) );
		width: 9vw;
	}
}

@keyframes shrinkDown {
	0% {
		height: 9vw;
		left: 48.5%;
		top: 50%;
		width: 9vw;
	}
	80% {
		height: 5.7vw;
		left: 50.85%;
		top: 51%;
		width: 5.7vw;
	}
	100% {
		height: 5.7vw;
		left: 50.85%;
		top: 51%;
		width: 5.7vw;
	}
}

// any div class that begins with 'name'
div[class^="name"] {
	animation: rise 0s linear;
	position: absolute;
		left: 50%;
		top: 50%;
	width: 50%;
}

.name--first {
	@include transform( translate( -100%, -50% ) );
	h1 {
		// animation: 2s slideUp 3s forwards ease;
		height: 3vw;
		span {
			position: absolute;
				right: -0.3vw;
				top: 50%;
			@include transform( translate( -50%, -50% ) );
			@include transition( all 1s ease );
			&:nth-child(-n+5) {
				opacity: 0;
			}
			&:last-of-type {
				opacity: 1;
			}
		}
	}
}

.name--last {
	@include transform( translate( 0%, -50% ) );
	h1 {
		// animation: 2s slideDown 3s forwards ease;
		height: 3vw;
		span {
			opacity: 0;
			position: absolute;
				left: 0.6vw;
				top: 50%;
			@include transform( translate( -50%, -50% ) );
			@include transition( all 1s ease );
			&:first-of-type {
				opacity: 1;
			}
		}
	}
}

#first.shift span {
	@for $i from 1 through 5 {
		&:nth-of-type(#{$i}) {
			opacity: 1;
		}
	}
	&:first-of-type {
		right: 1.2vw;
	}
	&:nth-of-type(2) {
		right: 3.2vw;
	}
	&:nth-of-type(3) {
		right: 3.4vw;
	}
	&:nth-of-type(4) {
		right: 5vw;
	}
	&:nth-of-type(5) {
		right: 6.4vw;
	}
}
@keyframes slideUp {
	0% {
		font-size: 5vw;
		@include transform( translateY( 0% ) );
	}
	80% {
		font-size: 2.5vw;
	}
	100% {
		font-size: 2.5vw;
		@include transform( translateY( -25% ) );
	}
}

#last.shift span {
	@for $i from 2 through 7 {
		&:nth-of-type(#{$i}) {
			opacity: 1;
		}
	}
	&:nth-of-type(2) {
		left: 2.3vw;
	}
	&:nth-of-type(3) {
		left: 4.2vw;
	}
	&:nth-of-type(4) {
		left: 6vw;
	}
	&:nth-of-type(5) {
		left: 7.4vw;
	}
	&:nth-of-type(6) {
		left: 9vw;
	}
	&:last-of-type {
		left: 10.6vw;
	}
}

@keyframes slideDown {
	0% {
		font-size: 5vw;
		@include transform( translateY( 0% ) );
	}
	80% {
		font-size: 2.5vw;
	}
	100% {
		font-size: 2.5vw;
		@include transform( translateY( 25% ) );
	}
}

@keyframes rise {
	0% {
		opacity: 0;
		@include filter( blur( 0.5em ) );
	}
	100% {
		opacity: 1;
		@include filter( blur( 0 ) );
	}
}

/* Animation automatically triggers on Home Page. */
.home_page {
	.block__initials:before {
		animation: 3s rise forwards linear, 2s shrinkDown 4.5s forwards ease;
	}
	div[class^="name"] {
		animation: rise 3s linear;
	}
	.name--first h1 {
		animation: 2s slideUp 3s forwards ease;
	}
	.name--last h1 {
		animation: 2s slideDown 3s forwards ease;
	}
}

/* Animation to trigger when hovering over title on all other pages but Home. */
.other-page {
	.title__sequence:hover {
		.block__initials:before {
			animation: 1s shrinkDown forwards ease;
		}
		.name--first h1 {
			animation: 30ms slideUp forwards ease;
		}
		.name--last h1 {
			animation: 30ms slideDown forwards ease;
		}
	}
}
