/**
 * This SCSS file is to establish the styling rules for the Title Sequence embedded
 * in the sidenav. - Desktop.
 *
 * @author Jef DeWitt & Kerick Howlett
 **/

.title__sequence {
	height: 18%;
	margin-left: -16.5%;
	@media screen and ( min-width: 1025px ) and ( max-width: 1400px ) {
		margin-left: -20%;
	}
	position: relative;
	@include transform( skewX( 5deg ) translateX( 50px ) );
	width: 100%;
}

.block__initials--homepage {
	display: table;
	height: 100%;
	padding-top: 50%;
	position: relative;
	width: 100%;
	h1 {
		color: $white;
		font-family: $roboto_medium;
		font-size: 2.5vw;
		overflow: hidden;
		text-transform: uppercase;
	}
}

// any div class that begins with 'name'
div[class^="name"] {
	animation: rise 3s linear;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
}

.name--first {
	@include transform( translate( -100%, -50% ) );
	h1 {
		animation: 2s slideUp 3s forwards ease;
		height: 3vw;
		text-shadow: 0px 4px 10px $black;
		span {
			position: absolute;
			right: -4%;
			top: 50%;
			@include transform( translate( -50%, -50% ) );
			@include transition( all 1s ease );
			&:nth-child(-n+5) {
				opacity: 0;
			}
			&:last-of-type {
				opacity: 1;
			}
		}
	}
}

.name--last {
	@include transform( translate( 0%, -50% ) );
	h1 {
		animation: 2s slideDown 3s forwards ease;
		height: 3vw;
		text-shadow: 0px 4px 10px $black;
		span {
			opacity: 0;
			position: absolute;
			left: 7%;
			top: 50%;
			@include transform( translate( -50%, -50% ) );
			@include transition( all 1s ease );
			&:first-of-type {
				opacity: 1;
			}
		}
	}
}

#first.shift span {
	@for $i from 1 through 5 {
		&:nth-of-type(#{$i}) {
			opacity: 1;
		}
	}
	&:first-of-type {
		right: 10%;
	}
	&:nth-of-type(2) {
		right: 28%;
	}
	&:nth-of-type(3) {
		right: 31%;
	}
	&:nth-of-type(4) {
		right: 45%;
	}
	&:nth-of-type(5) {
		right: 57%;
	}
}
@keyframes slideUp {
	0% {
		font-size: 8vw;
		@include transform( translateY( 0% ) );
	}
	100% {
		font-size: 2.5vw;
		@include transform( translateY( -25% ) );
	}
}

#last.shift span {
	@for $i from 2 through 7 {
		&:nth-of-type(#{$i}) {
			opacity: 1;
		}
	}
	&:nth-of-type(2) {
		left: 22%;
	}
	&:nth-of-type(3) {
		left: 39%;
	}
	&:nth-of-type(4) {
		left: 55%;
	}
	&:nth-of-type(5) {
		left: 67%;
	}
	&:nth-of-type(6) {
		left: 80%;
	}
	&:last-of-type {
		left: 94%;
	}
}

@keyframes slideDown {
	0% {
		@include transform( translateY( 0% ) );
	}
	100% {
		@include transform( translateY( 25% ) );
	}
}

@keyframes rise {
	0% {
		opacity: 0;
		@include filter( blur( 0.5em ) );
	}
	100% {
		opacity: 1;
		@include filter( blur(0) );
	}
}
