---
layout: default
---
<div class="connect">
	<header class="connect-header">
		<h1 itemprop="name headline">{{ page.title }}</h1>
	</header>
	{% include partials/breadcrumbs.html %}
	<div class="connect__body">
		<div class="connect__body__cta">
			<p>Wassup?!</p>
			<p>
				You wanna leave me a comment about one of my projects or blog posts? Do you have something you wanna share with me? Perhaps you need assistance on a project, or just have a problem you can quite figure out. Maybe you even wanna teach me something! Well, whatever it is, don't be afraid to message me! I like to think of myself as very friendly, so don't be affraid to approach me with anything you wanna get at me about. I very much look forward to hearing from you!
			</p>
			<p>Talk to you soon!</p>
		</div>
		<div class="connect__body__form">
			<div id="contact_form" class="form">
				<div class="form__block">
					<label class="form_label" for="name">Your Name *</label>
					<input id="name" class="form_input" type="text" name="name" maxlength="125"/>
				</div>
				<div class="form__block__email">
					<label class="form_label" for="email">Email *</label>
					<input id="email" class="form_input" type="email" name="email" maxlength="125"/>
				</div>
				<div class="form__block">
					<label class="form_label" for="your_email">Your Email *</label>
					<input id="your_email" class="form_input" type="email" name="your_email" maxlength="125"/>
				</div>
				<div class="form__block">
					<label class="form_label" for="subject">Subject</label>
					<input id="subject" class="form_input" type="text" name="subject" maxlength="125"/>
				</div>
				<div class="form__block message__block">
					<label class="form_label_textarea" for="message">Message *</label>
					<textarea id="message" class="form_textarea" name="message"></textarea>
				</div>
				<div class="form__block">
					<input id="submit" class="button" type="button" name="submit" value="Send"/>
				</div>
			</div>
		</div>
	</div>
</div>
