---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
		<h1 itemprop="name headline">{{ page.title }}</h1>
	</header>

	{% include partials/breadcrumbs.html %}

	<div class="post-content" itemprop="articleBody">
		<div class="post-content_body">
			<div class="post-meta">
				{% if page.author %}
					{% assign post_author = page.author %}
				{% else %}
					{% assign post_author = "Kerick Howlett" %}
				{% endif %}
					<span class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
						<span itemprop="name">{{ post_author }}</span>
					</span>
				{% if page.date %}
					<span class="post-time">
						<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
							{{ page.date | date: "%A, %B %-d, %Y" }}
						</time>
					</span>
				{% endif %}
			</div>
			{{ content }}
			{% include partials/page_navigation.html %}
		</div>
		{% include partials/sidebar.html %}
	</div>

</article>
